<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

  <servlet>
    <servlet-name>CalcServlet</servlet-name>
    <servlet-class>ru.job4j.autosale.servlet.CalcServlet</servlet-class>
  </servlet>


  <servlet>
    <servlet-name>AdServlett</servlet-name>
    <servlet-class>ru.job4j.autosale.servlet.AdServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>ru.job4j.autosale.servlet.AuthServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>ru.job4j.autosale.servlet.LogoutServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>ru.job4j.autosale.servlet.RegServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>ru.job4j.autosale.servlet.IndexServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ModelServlet</servlet-name>
    <servlet-class>ru.job4j.autosale.servlet.ModelServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>BodyServlet</servlet-name>
    <servlet-class>ru.job4j.autosale.servlet.BodyServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>EngineServlet</servlet-name>
    <servlet-class>ru.job4j.autosale.servlet.EngineServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>DriveServlet</servlet-name>
    <servlet-class>ru.job4j.autosale.servlet.DriveServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>FileUploadHandler</servlet-name>
    <servlet-class>ru.job4j.autosale.servlet.FileUploadHandler</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>PutServlet</servlet-name>
    <servlet-class>ru.job4j.autosale.servlet.PutServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>ru.job4j.autosale.servlet.DownloadServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>CalcServlet</servlet-name>
    <url-pattern>/calc</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AdServlett</servlet-name>
    <url-pattern>/adcar</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/auth.do</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/reg.do</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index.do</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>DriveServlet</servlet-name>
    <url-pattern>/getdrive</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>BodyServlet</servlet-name>
    <url-pattern>/getbody</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>EngineServlet</servlet-name>
    <url-pattern>/getengine</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ModelServlet</servlet-name>
    <url-pattern>/getmodel</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>FileUploadHandler</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>PutServlet</servlet-name>
    <url-pattern>/putitem</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>ru.job4j.autosale.filter.AuthFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>

  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>ru.job4j.autosale.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>requestEncoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>
